@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body {
  background: #fff;
  font-family: garamond;
  line-height: 145%;
  box-sizing: border-box;
  a:hover {
    text-decoration: none;
  }
  #navigation {
    background: #fafafa;
    #search-box {
      padding: 8px 20px;
      #search-form {
        border: 1px solid lightgrey;
        #search-icon {
          height: 14px;
          width: 14px;
          margin: 0 auto;
        }
        #search-bar {
          background: #fafafa;
          border: 0;
          font-family: Arial, sans-serif;
          font-size: 1em;
          width: 80%;
        }
      }
    }
    #nav-links {
      align-self: center;
      background: #fafafa;
      font-size: 1em;
      text-align: center;
      a {
        color: #9e9e9e;
        margin: 10px auto;
        .separator {
          color: #9e9e9e;
        }
        &:hover {
          color: #9e9e9e;
          text-decoration: none;
        }
      }
    }
  };
  header {
    background: #FFF;
    padding: 36px 0 0 0;
    text-align: center;
    #patreon-container {
      padding: 0;
      #patreon-logo {
        padding: 0;
        width: 150px;
        height: 130px;
      }
    };
    #logo {
      background: #FFF;
      h1 {
        box-sizing: border-box;
        font-size: 35px;
        letter-spacing: 16px;
        line-height: 48px;
        text-transform: none;
      };
      h3 {
        font-size: .8em;
        letter-spacing: 7px;
        line-height: 15px;
        text-transform: uppercase;
      }
    }
    #tagline {
      background: #FFF;
      font-style: italic;
      font-size: 1em;
      line-height: .8em;
      margin: auto;
    }
  };
  #banner {
    background: #D1E2FA;
    text-align: center;
    h3 {
      font-family: Arial, sans-serif;
      font-size: .8em;
      color: #9e9e9e;
      line-height: 1.4em;
      text-transform: uppercase;
      margin: 20px 0;
    }
    p {
      color: #0091EA;
      font-weight: 700;
    }
  }
  #main {
    background: #FFFEFA;
    a {
      color: #121212;
      &:hover {
        color: #0091EA;
        text-decoration: none;
      }
    }
    #news {
      #news-1-left {
        .row {
          padding: 5px 0;
        }
        color: #212121;
        padding: 20px 0;
        h6 {
          color: #9e9e9e;
          font-family: Arial, sans-serif;
          font-size: .8em;
        }
        h3 {
          font-size: 1.2em;
        }
        h2 {
          font-family: Garamond, serif;
          font-weight: 600;
        }
        p {
        }
      }
      #news-1-center {
        color: #212121;
        text-align: center;
        padding: 20px 30px;
        .row {
          padding: 5px 0;
        }
        h6 {
          color: #9e9e9e;
          font-family: Arial, sans-serif;
          font-size: .8em;
        }
        p {
          font-size: 1.2em;
        }
      }
      #newsletter-form {
        background: #FFF3E0;
        text-align: center;
        letter-spacing: 5px;
        line-height: .8em;
        padding: 60px 0;
        #email-form {
          height: 35px;
          width: 200px;
          margin: 20px 5px 0 0;
        }
        button {
          background: #FF9800;
          border-radius: 3px;
          color: white;
          margin: 20px 0 0 0;
          padding: 10px;
          font-family: arial, sans-serif;
        }
      }
      #news-2 {
        color: #121212;
        #news-2-left {
          padding: 20px 0;
          .row {
            padding: 5px 0;
          }
          img {
            height: 140px;
            width: auto;
          }
          h6 {
            color: #9e9e9e;
            font-family: Arial, sans-serif;
            font-size: .8em;
          }
          #see-more {
            a {
              &::after {
                content: " ➜";
                color: #03A9F4;
                font-weight: normal;
              }
            }
          }
        }
        #news-2-center {
          padding: 20px 0;
          .row {
            padding: 5px 0;
          }
          h6 {
            color: #9e9e9e;
            font-family: Arial, sans-serif;
            font-size: .8em;
          }
          h2 {
            font-size: 1.2em;
            line-height: 1.4em;
          }
          a {
            &::after {
              color: #03A9F4;
              font-weight: normal;
            }
          }
          #final-links {
            a::after {
              content: " ➜";
            }
          }
        }
        #news-2-cr {
          text-align: center;
          background: #FFF;
          #contact a {
            color: #03A9F4;
          }
          #submissions a {
            color: #03A9F4;
          }
          h2 {
            font-size: .8em;
            line-height: 1.4em;
            letter-spacing: .2em;
            padding: 20px 0;
          }
          img {
            width: 85px;
            height: auto;
          }
          h5 {
            line-height: 1.4em;
            font-size: 1em;
            font-weight: 600;
          }
          p {
            font-style: italic;
            font-size: .8em;
          }
          a {
            display: block;
            font-size: .8em;
            padding: 5px 0;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
    #sidebar {
      padding: 20px 0;
      .row {
        padding: 5px 0;
      }
      h6 {
        color: #9e9e9e;
        font-family: Arial, sans-serif;
        font-size: .8em;
      }
      h3 {

      }
      p {
        font-size: 1.2em;
      }
      a {
        color: #121212;
        text-decoration: none;
        &:hover {
          color: #0091EA;
        }
      }
      img {
        border-radius: 50%;
        float: right;
        height: 70px;
        width: 70px;
      }
    }
  }
  #friends {
    background: #FFF;
    text-align: center;
    h2 {

    }
    a {

    }
    p {

    }
    img {
      height: 90px;
      width: 90px;
    }
  }
  footer {
    text-align: center;
    padding: 50px 0;
    h5 {
      font-size: .8em;
      line-height: 1em;
      padding: 10px 0;
    }
    p {
      line-height: 1.2em;
      padding: 0;
      margin: 0;
      font-size: 1em;
    }
    a {

    }
    #mcs-logo {
      width: 30px;
      height: 44px;
    }
    #fineprint {
      font-size: .5em;
    }
  }
}