@import '../node_modules/bootstrap/scss/bootstrap.scss';

nav {
  background: lightgray;
}
header {
  background: lightcoral;
}


.col {
  border: 1px solid black;
}

.col-3 {
  border: 1px solid black;
}

.col-6 {
  border: 1px solid black;
}

.col-12 {
  border: 1px solid black;
}