<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title McSweeney's Internet Tendency
    link(rel="stylesheet", href="../sass/main.scss")
    script(src="../js/index.js" defer)
  body
    div.container
      div.row#navigation
        div.col-3#search-box
          img#search-icon(src="../img/search-icon.svg")
          input#search-bar(type="search", placeholder="Search")
        nav.col-6#nav-links
          p 
            a(href="#") Internet Tendency
            a  | 
            a(href="#") The Store
            a  | 
            a(href="#") Books Division
            a  | 
            a(href="#") Quarterly Concern
            a  | 
            a(href="#") Donate
      header.row
        div.col-3#patreon-container
          img#patreon-logo(src="../img/patreon_buttonb.png", alt="Patreon Logo")
        div.col-6#logo
          h1 M c S W E E N E Y ' S
          h3 Internet Tendency
          h3 Celebrating Our 21st Year!
        div.col-3#tagline
          p Daily humor
          p almost every day
          p since 1998.
      div.row#banner
        div.col-3
        div.col-6
          h3 McSweeney's Internet Tendency's Patreon
          p AS LITTLE AS A DOLLAR A MONTH IS ALL IT TAKES TO HELP OUR COMEDY SITE AND ITS WRITERS. PLEASE CONSIDER BECOMING A MCSWEENEY'S INTERNET TENDENCY PATRON.
      div.row
        div.col-3
          p Left column
        div.col-6
          p Center column
        div.col-3
          p Right column