<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title McSweeney's Internet Tendency
    link(src="../sass/main.scss")
    link(src="../js/index.js")
  body
    div.container
      div.row#navigation
        input.col-4(type="search")
        nav.col#navlinks
          span
            a(href="#") Internet Tendency
            p " | "
            a(href="#") The Store
            p " | "
            a(href="#") Books Division
            p " | "
            a(href="#") Quarterly Concern
            p " | "
            a(href="#") Donate
      header.row
        img.col-3(src="#", alt="Patreon Logo")
        div.col-6
          h1 McSweeney's
          h3 Internet Tendency
          h3 Celebrating Our 21st Year!
        div.col-3
          p Daily humor
          p almost every day
          p since 1998.
      div.col-12#banner
        div.col-3
        div.col-6
          h3 McSweeney's Internet Tendency's Patreon
          p AS LITTLE AS A DOLLAR A MONTH IS ALL IT TAKES TO HELP OUR COMEDY SITE AND ITS WRITERS. PLEASE CONSIDER BECOMING A MCSWEENEY'S INTERNET TENDENCY PATRON.
      div.col-12#main
        div.col-3#left-side
          p Left column
        div.col-6#center
          p Center column
        div.col-3#right-side
          p Right column